@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Titillium+Web:wght@300;400;600&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    padding-top: 1rem;
    background-color: black;
}
header img {
    width: auto;
    height: 70px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Navigation menu */
nav {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem 0;
    margin-top: 0.5rem;
}
nav h2 {
    font-family: 'Archivo Black', sans-serif;
    color: #add8e6;
    display: inline-block;
    margin: 0 1rem;
    cursor: pointer;
    transition: color 0.2s ease;
}
nav h2:hover {
    color: #ffffff;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #ffae42;
    margin-top: 1rem;
}
h2, h3, h4, h5 {
    font-family: 'Archivo Black', sans-serif;
    color: white;
}
p {
    color: white;
    line-height: 1.6;
    font-size: 22px;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video-section img {
    width: 90%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.2);
    border: 3px solid #444;
}

.output-box {
    background-color: #2b2b2b;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.output-box:hover {
    background-color: #3d3d3d;
    transform: scale(1.1);
}

.btn-decline {
    background-color: #e50000;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 0.5rem;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}
.btn:hover {
    background-color: #ff5656;
    color: black;
}
.history-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    margin-top: 10px;
}
.incident-box {
    background-color: #2b2b2b;
    border: 2px solid #444;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
    transition: transform 0.2s ease;
}
.incident-box:hover {
    transform: scale(1.03);
}

footer {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px solid #666;
}

